<head>
<style>
table { border-spacing: 0; border-collapse:collapse; }	
td { vertical-align: middle; white-space:nowrap; }
td.top{ border-top-style: solid; border-width:1px; }
</style>

<script src="../build/flashcanvas.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="../build/jquery.signaturepad.min.js"></script>
<script src="../build/json2.min.js"></script>
<link rel="stylesheet" href="jquery.signaturepad.css">
 
</head>

<html>
<body>

	
 <form method="post" action="" class="sigPad">
{%csrf_token %}
<center><table cellpadding="8" style="border:3px solid black">
	<tr>
		<th colspan ="4"><center><h1>CENTER FOR NEUTRON RESEARCH</h1></center>
			<h2>Facility User Safety Awareness Checklist</h2>
		</th>
	</tr>
	
	<tr>
		<td class="top">Name:<font color="red" size="2"> {{ form.name.errors.as_text }}</font></td>
		<td class="top">{{ form.name }}</td> 
		<td class="top">Home Institution<font color="red" size="2"> {{ form.home_inst.errors.as_text }}</font></td>
		<td class="top">{{ form.home_inst }}</td>
	</tr>
	
	<tr>
		<td>Emergency Contact:<font color="red" size="2"> {{ form.emerg_contact.errors.as_text }}</font></td>
		<td>{{ form.emerg_contact }}</td>
		<td>Telephone:<font color="red" size="2"> {{ form.phone.errors.as_text }}</font></td>
		<td>{{ form.phone }}</td>
	</tr>

	<tr>
		<td>Relationship:<font color="red" size="2"> {{ form.relationship.errors.as_text }}</font></td>
		<td> {{ form.relationship }}</td>
		<td></td>
		<td></td>
	</tr>
	
		<tr>
		<td class="top">NIST Contact:<font color="red" size="2"> {{ form.nist_contact.errors.as_text }}</font></td>
		<td class="top">{{ form.nist_contact }}</td>
		<td class="top">Division<font color="red" size="2"> {{ form.nist_div.errors.as_text }}</font></td>
		<td class="top">{{ form.nist_div }}</td>
	</tr>
	
		<tr>
		<td>Extension:<font color="red" size="2"> {{ form.nist_ext.errors.as_text }}</font></td>
		<td>{{ form.nist_ext }}</td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<td class="top" colspan="4">Your NIST Contact is required to discuss the following safety information with you before you will be granted
		<br> unescorted access to the research facilities.This form is to signed and dated by you and your NIST Contact 
		<br>and returned to the User Office (K07)
		<br><br><b>Check below box that you have been instructed in the following areas:</b>
		</td>
	</tr>
	
	<tr>
		<td class="top">Emergency number (x2222):</td>
		<td class="top">{{ form.emerg_num }}</td>
		<td class="top">Liquid Cryogen Handling:</td>
		<td class="top">{{ form.liq_handle }}</td>
	</tr>
	
	<tr>
		<td>Emergency Action for Alarms and Fire:</td>
		<td>{{ form.emerg_action }}</td>
		<td>General Acid:</td>
		<td>{{ form.gen_acid }}</td>
	</tr>

	<tr>
		<td>Accident Report:</td>
		<td>{{ form.accid_rep }}</td>
		<td>Hydrofluoric Acid:</td>
		<td>{{ form.hyd_acid }}</td>
	</tr>
	
	<tr>
		<td>General Laboratory Safety:</td>
		<td>{{ form.gen_lab }}</td>
		<td>Glove Box:</td>
		<td>{{ form.glove_box }}</td>
	</tr>
		
	<tr>
		<td>Source of Safety Information:</td>
		<td>{{ form.saf_info }}</td>
		<td>X-ray:</td>
		<td>{{ form.x_ray }}</td>
	</tr>

	<tr>
		<td>Personal Protective Equipment:</td>
		<td>{{ form.protective }}</td>
		<td>Laboratory Torch:</td>
		<td>{{ form.lab_torch }}</td>
	</tr>

	<tr>
		<td>Hazard Communication:</td>
		<td>{{ form.hazacomm }}</td>
		<td>Spin Coater:</td>
		<td>{{ form.spin_coater }}</td>
	</tr>

	<tr>
		<td>Computer Regulations (NIST Policy):</td>
		<td>{{ form.comp_reg }}</td>
		<td>Furnace:</td>
		<td>{{ form.furnace }}</td>
	</tr>

	<tr>
		<td>Instrument Operations:</td>
		<td>{{ form.inst_op }}</td>
		<td>Laboratory Press:</td>
		<td>{{ form.lab_press }}</td>
	</tr>

	<tr>
		<td>Crane Safety:</td>
		<td>{{ form.crane_saf }}</td>
		<td>Other:</td>
		<td>{{ form.other }}</td>
	</tr>
	
	<tr>
		<td class="top" colspan="4" height="100">	
	  Signature: 
	  	<div class="sig sigWrapper">
	    <div class="typed"></div>
	    <canvas class="pad" width="298" height="60"></canvas>
	    <input type="hidden" name="output" class="output">
	  </div>
	 <script language="javascript"> 
	 today = new Date(); 
	 document.write("Date: ",today.getMonth()+1,"/",today.getDate(),"/",today.getYear(),"&nbsp&nbsp&nbsp&nbspTime: ",today.getHours(),":",today.getMinutes());
	 </script> 
		</td>
	</tr>
</table></center>
<br>
<center>	 <button type="submit">Submit</button> </center>
</form>
<script>
  $(document).ready(function () {
    $('.sigPad').signaturePad({drawOnly:true});
  });
</script> 
<br>

</body>
</html>